<div style="padding: 20px;">
  <pre>{{ homeForm.get('municipio')?.value }}</pre>
  <pre>{{ homeForm.get('uf')?.value }}</pre>
  <pre>{{ homeForm.get('dia')?.value }}</pre>
  <pre>{{ homeForm.get('mes')?.value }}</pre>
  <pre>{{ homeForm.get('ano')?.value }}</pre>
  <div class="row">
    <div class="col-md-2">
      <app-municipio-autocomplete [formGroup]="homeForm" formControlName='municipio'
        (selectionChanged)="municipioSelecionado($event)"
        (throwError)="throwError($event)">
      </app-municipio-autocomplete>
    </div>
    <div class="col-md-2">
      <app-uf-select [formGroup]="homeForm" formControlName='uf'></app-uf-select>
    </div>
    <div class="col-md-2">
      <lib-datepicker-day formControlName='dia' [schema]="datepickerDaySchema" (selected)="diaSelecionado($event)"></lib-datepicker-day>
    </div>
    <div class="col-md-2">
      <lib-datepicker-month formControlName='mes' [schema]="datepickerMonthSchema" (selected)="mesSelecionado($event)"></lib-datepicker-month>
    </div>
    <div class="col-md-2">
      <lib-datepicker-year formControlName='ano'  [schema]="datepickerYearSchema" (selected)="anoSelecionado($event)"></lib-datepicker-year>
    </div>
  </div>
  <app-municipio-grid #cmpGridMunicipio
    (selectionChanged)="municipiosSelecionados($event)"
    (throwError)="throwError($event)">
  </app-municipio-grid>
  <ul>
    <li *ngFor="let index of municipios">{{ index.nome}}</li>
  </ul>
</div>
