<div style="padding: 20px;">
  <div class="row">
    <div class="col-md-3">
      <app-municipio-autocomplete #cmpAutocompleteMunicipio
        (selectionChanged)="municipioSelecionado($event)"
        (throwError)="throwError($event)">
      </app-municipio-autocomplete>
    </div>
    <div class="col-md-3">
      <datepicker-day [schema]="datepickerDaySchema" (selected)="diaSelecionado($event)"></datepicker-day>
    </div>
    <div class="col-md-3">
      <datepicker-month [schema]="datepickerMonthSchema" (selected)="mesSelecionado($event)"></datepicker-month>
    </div>
    <div class="col-md-3">
      <datepicker-year [schema]="datepickerYearSchema" (selected)="anoSelecionado($event)"></datepicker-year>
    </div>
  </div>
  <app-municipio-table #cmpGridMunicipio
    (selectionChanged)="municipiosSelecionados($event)"
    (throwError)="throwError($event)">
  </app-municipio-table>
  <ul>
    <li *ngFor="let index of municipios">{{ index.nome}}</li>
  </ul>
</div>
