/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.alert-info {
  color: #084298 !important;
  background-color: #cfe2ff !important;
  border-color: #b6d4fe !important;
}

.alert-success {
  color: #0f5132 !important;
  background-color: #d1e7dd !important;
  border-color: #badbcc !important;
}

.alert-danger {
  color: #842029 !important;
  background-color: #f8d7da !important;
  border-color: #f5c2c7 !important;
}

.alert-warning {
  color: #664d03 !important;
  background-color: #fff3cd !important;
  border-color: #ffecb5 !important;
}

.alert-light {
  color: #636464 !important;
  background-color: #fefefe !important;
  border-color: #fdfdfe !important;
}

.alert-dark {
  color: #141619 !important;
  background-color: #d3d3d4 !important;
  border-color: #bcbebf !important;
}
